body {
  background-color: #0b1012;
  font-family: 'Inconsolata', monospace;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 5%;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

.settings {
  background-color: #0b1012;
  font-family: 'Inconsolata', monospace;
  border: 3px solid #AAA;
  border-radius: 10px;
  color: white;
  padding: 6px;
}

.button {
  background-color: white;
  font-family: 'Inconsolata', monospace;
  border: none;
  color: #0b1012;
  padding: 6px;
  border: 3px solid white;
  border-radius: 10px;
  font-weight: bold;
}
.button:hover {
  background-color: #0b1012;
  color: white;
}
.button:active {
  background-color: white;
  color: #0b1012;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AAA;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #AAA;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #AAA;
}

.title {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: normal;
  color: white;
  background-color: #0b1012;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  font-family: 'Inconsolata', monospace;
}

.text, .input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: normal;
  color: white;
  background-color: #0b1012;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Inconsolata', monospace;
}

.progress-bar {
  height: 5px;
  background-color: #2c8048;
  border-radius: 5px;
}
.correct {
  background-color: #2c8048;
}
.wrong {
  background-color: #801416;
}
@keyframes animate {
  0% {
    width: 100%;
    background-color: #2c8048;
  }
  45% {
    width: 55%;
    background-color: #2c8048;
  }
  50% {
    width: 50%;
    background-color: #Ff9c00;
  }
  70% {
    width: 30%;
    background-color: #Ff9c00 ;
  }
  75% {
    width: 25%;
    background-color: #801416;
  }
  100% {
    width: 0%;
    background-color: #801416;
  }
};
